name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: [self-hosted, Windows]

    # services:
    #   postgres:
    #     image: postgres
    #     env:
    #       POSTGRES_PASSWORD: postgres
    #     options: >-
    #       --health-cmd pg_isready
    #       --health-interval 10s
    #       --health-timeout 5s
    #       --health-retries 5
    #     ports:
    #       - 5432:5432

    steps:
    - name: Notify Discord
      run: |
        $webhookUrl = if ($env:GITHUB_EVENT_NAME -eq "push") {
          "${{ secrets.COMMIT_WEBHOOK }}"
        } elseif ($env:GITHUB_EVENT_NAME -eq "pull_request") {
          "${{ secrets.PULLREQUEST_WEBHOOK }}"
        } elseif ($env:GITHUB_EVENT_NAME -eq "release") {
          "${{ secrets.RELEASE_WEBHOOK }}"
        }
        if ($webhookUrl) {
          $payload = @{
            content = "**$env:GITHUB_EVENT_NAME** event triggered for $env:GITHUB_REPOSITORY on branch $env:GITHUB_REF_NAME by $env:GITHUB_ACTOR"
            embeds = @(
              @{
                title = "$env:GITHUB_EVENT_NAME - $env:GITHUB_REPOSITORY"
                url = "$env:GITHUB_SERVER_URL/$env:GITHUB_REPOSITORY/actions/runs/$env:GITHUB_RUN_ID"
                color = 5814783
                fields = @(
                  @{
                    name = "Branch"
                    value = $env:GITHUB_REF_NAME
                    inline = $true
                  }
                  @{
                    name = "Triggered by"
                    value = $env:GITHUB_ACTOR
                    inline = $true
                  }
                )
              }
            )
          } | ConvertTo-Json -Depth 10
          Invoke-RestMethod -Uri $webhookUrl -Method Post -Body $payload -ContentType 'application/json'
        }
      shell: pwsh
    - uses: actions/checkout@v2
    - name: Set up .NET Core 8.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Install dependencies
      run: |
        dotnet restore
        dotnet tool restore
        dotnet tool install --global dotnet-reportgenerator-globaltool
    - name: Unshallow Commits
      run: git fetch --unshallow
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal --collect:'Code Coverage' --filter:"FullyQualifiedName!~TASVideos.E2E.Tests"
    - name: Generate coverage report
      run: |
        dotnet tool run dotnet-coverage merge 'tests/*/TestResults/**/*.coverage' --output-format=cobertura --output=merged.coverage.xml
        reportgenerator -reports:merged.coverage.xml -targetdir:. -reporttypes:MarkdownSummaryGithub
        cat SummaryGithub.md >>"$GITHUB_STEP_SUMMARY"
